@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background: #ffffff;
    font-size: 18px;
    line-height: 1.7;
    color: #000000;
}

/*Typography*/
div,
p,
a,
li,
td {
    -webkit-text-size-adjust: none;
}

html,
html a {
    -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px 0 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 700;

}

h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

p span,
p strong {
    font-weight: bold;
}

img {
    border: none;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none !important;
    color: #222;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,

textarea:focus,
textarea:active {
    outline: none !important;
}

html,
body {
    height: 100%;
}


/* custome css start */
/* Head Section  */
.headsection {
    background-color: #0D65A1;
}

.headBoxInner {
    margin: 7px;
    padding: 0px;
    color: #fff;
    text-align: center;
    font-size: 17px;
}

.headBoxInner a {
    color: #fff;
    margin: 8px;
}

.row.first {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}



button.btn-custom {
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    border-color: #fff;
}

span {
    font-size: 14px;
    margin: 5px;

}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

/* Active nav item */
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
    background-color: #FF6022;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.container.inner {
    max-width: 1000px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}

#our-speciality {
    margin-top: 67px;
    margin-bottom: 93px;
}

/* Our Speciality */
.our-speciality {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 281px;
    height: 50px;
    left: 580px;
    top: 699px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    color: #0D65A1;

}

.learning {

    width: 356px;
    height: 28px;
    left: 125px;
    top: 264px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

a.btn-get-started.scrollto {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    color: #fff;
    background: #0D65A1;
    border-radius: 10px;
}

#card-1 {
    width: 590px;
    height: 224px;
    background: #F6F6F6;
    box-shadow: 0px 45px 18px rgba(0, 0, 0, 0.01), 0px 25px 15px rgba(0, 0, 0, 0.05), 0px 11px 11px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: left;

}

#card-2 {
    text-align: right;
    width: 590px;
    height: 224px;
    background: #F7F7F7;
    box-shadow: 0px 45px 18px rgba(0, 0, 0, 0.01), 0px 25px 15px rgba(0, 0, 0, 0.05), 0px 11px 11px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left: 20px;
}

/* 1 on 1 Instruction */
#one-on-one {
    left: 10.14%;
    right: 77.08%;
    top: 14.27%;
    bottom: 84.85%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
    color: #0D65A1;
}

#lorem-1 {
    left: 10.14%;
    right: 66.32%;
    top: 15.31%;
    bottom: 83.36%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.view-more {
    width: 67px;
    height: 18px;
    left: 146px;
    top: 960px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #000000;
}

.vector-1 {
    left: 38.12%;
    right: 58.26%;
    top: 15.15%;
    bottom: 83.47%;
    padding-top: 69px;
    padding-bottom: 77px;
}

.vector {
    left: 42.22%;
    right: 53.75%;
    top: 14.99%;
    bottom: 83.47%;
    padding-top: 60px;
    padding-bottom: 77px;
}

/* Group Instruction */
#group-instruction {
    left: 75.62%;
    right: 10.56%;
    top: 14.27%;
    bottom: 84.85%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
    text-align: right;
    color: #0D65A1;
}

#lorem-2 {
    left: 65.9%;
    right: 10.56%;
    top: 15.31%;
    bottom: 83.36%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #000000;
}

.view-more-2 {
    width: 67px;
    height: 18px;
    left: 1221px;
    top: 960px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
}

.vector-3 {
    left: 53.61%;
    right: 36.67%;
    top: 14.9%;
    bottom: 83.36%;
    padding-top: 53px;

}

.containerGroups {
    max-width: 100%;
}


h1.title {
    position: absolute;
    width: 390px;
    height: 50px;
    left: 525px;
    top: 1954px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    color: #0D65A1;

}

img#logo-1 {
    position: absolute;
    width: 276px;
    height: 121px;
    left: 264px;
    top: 2029px;
}

img#logo-2 {
    position: absolute;
    width: 256px;
    height: 99px;
    left: 588px;
    top: 2040px;
}

img#logo-3 {
    position: absolute;
    width: 276px;
    height: 121px;
    left: 892px;
    top: 2029px;

}

img#logo-4 {
    position: absolute;
    width: 276px;
    height: 121px;
    left: 402px;
    top: 2150px;

}

img#logo-5 {
    position: absolute;
    width: 276px;
    height: 121px;
    left: 716px;
    top: 2150px;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 592px;
    left: 0px;
    top: 2368px;
    z-index: -1;
    background: #EDEDED;


}

.section-title {
    margin-left: 27px;
    margin-top: 108px;
    width: 495px;
    height: 152px;
    left: 786px;
    top: 2476px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    color: #0D65A1;
}

#box-rectangle-7 {
    box-sizing: border-box;
    width: 637px;
    height: 654px;
    left: 122px;
    top: 2434px;
    border: 3px dashed #000000;
    border-radius: 40px;
    padding: 20px;
}

.img-bg {
    width: 588.05px;
    height: 663.13px;
    left: 149px;
    top: 2443.51px;
    background: url("../images/MaskGroup-1.png") no-repeat;
    border-radius: 40px;

}

.card-3 {
    margin-top: 66px;
}

.logo-centered {

    position: absolute;
    width: 300px;
    height: 716px;
    left: 1235px;
    top: 1930px;

    background-image: url("../images/Mask\ group-2.png");
}

.rectangle-8 {}

.img-bg-2 {
    position: absolute;
    width: 528px;
    height: 584px;
    left: 681px;
    top: 2676px;
    background: #0D65A1;
    border-radius: 40px;


}

.vector-0 {

    left: 51.39%;
    right: 47.26%;
    top: 48.14%;
    bottom: 51.58%;
}

span p i.fa.fa-angle-double-right.pe-4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;

}

span p {

    width: 351px;
    left: 790px;
    top: 2712px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
}

.section-title-2 {
    position: absolute;
    width: 247px;
    height: 50px;
    left: 120px;
    top: 3337px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    color: #0D65A1;
}

.frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 45px;
    gap: 10px;
    position: absolute;
    width: 322px;
    height: 59px;
    left: 996px;
    top: 3337px;
    background: #0D65A1;
    border-radius: 30px;
}

.frame-text {

    width: 249px;
    height: 49px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-body-2 {
    flex: 1 1 auto;

}

.card-0 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 13px;
    position: absolute;
    width: 312px;
    height: 415px;
    left: 120px;
    top: 3430px;
    background: #F4F4F4;
    box-shadow: 0px 121px 48px rgba(0, 0, 0, 0.01), 0px 68px 41px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.09), 0px 8px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

.card-01 {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 13px;
    position: absolute;
    width: 312px;
    height: 415px;
    left: 565px;
    top: 3430px;
    background: #F4F4F4;
    box-shadow: 0px 121px 48px rgba(0, 0, 0, 0.01), 0px 68px 41px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.09), 0px 8px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card-02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 13px;
    position: absolute;
    width: 312px;
    height: 415px;
    left: 1009px;
    top: 3430px;
    background: #F4F4F4;
    box-shadow: 0px 121px 48px rgba(0, 0, 0, 0.01), 0px 68px 41px rgba(0, 0, 0, 0.05), 0px 30px 30px rgba(0, 0, 0, 0.09), 0px 8px 17px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

span#link1 {
    padding: 2px 6px;
    width: 68px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5E5E5E;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 1px solid black;
    border-radius: 20px;
}

/* Smart Interface Design */
.card-title-main {
    width: 197px;
    height: 1px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-bottom: 10px;

}

p.card-text-2 {
    width: 282px;
    height: 59px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: rgb(94, 94, 94);
    flex: 0 0 auto;
    order: 1;

}

/* $450 */
span.price {
    width: 34px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5E5E5E;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2px 6px;
}

.fa-clock-o:before {
    width: 14px;
    height: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.place-to-work {
    position: absolute;
    width: 100%;
    height: 484px;
    left: 0px;
    top: 4016px;
    background: url("../images/work-place.png"), #000000;
    border-radius: 40px;
}

.motive {
    position: absolute;
    width: 277px;
    height: 50px;
    left: 127px;
    top: 4084px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* Great Place To Work */
.heading-02 {
    position: absolute;
    width: 808px;
    height: 50px;
    left: 127px;
    top: 4149px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;

}

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tempus sed tincidunt in eget imperdiet et. Id non vitae mattis duis feugiat felis sagittis lectus. Pharetra feugiat elit, pellentesque */
.texts-lines {
    position: absolute;
    width: 642px;
    height: 106px;
    left: 127px;
    top: 4240px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    color: #FFFFFF;

}

/* Btn_2 layout */
.btn-2-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;

    width: 153px;
    height: 38px;
    left: 127px;
    top: calc(50% - 38px/2 + 1555px);
    background: #0D65A1;
}

/* Get Started Now */
.btn_2 {
    width: 120px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.back-img {
    position: absolute;
    width: 1200px;
    height: 678px;
    left: 120px;
    top: 4653px;
    background: #FFFFFF;
    box-shadow: -12px -45px 19px rgba(0, 0, 0, 0.02), -7px -26px 16px rgba(0, 0, 0, 0.07), -3px -11px 12px rgba(0, 0, 0, 0.12), -1px -3px 6px rgba(0, 0, 0, 0.14), 0px 0px 0px rgba(0, 0, 0, 0.14);
    border-radius: 60px;
}

.footer-sec {
    position: absolute;
    width: 100%;
    height: 319px;
    left: 0px;
    top: 5277px;
    background: #0D65A1;
}

.log-img {

    width: 203px;
    height: 75px;
    left: 115px;
    top: 5350px;
    background-image: url("");

}

input.form-control {

    width: 332px;
    height: 70px;
    left: 172px;
    top: 4808px;
    background: #D9D9D9;
    border-radius: 50px;
}

.row>* {
    width: auto;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.get-in-touch {

    width: 247px;
    height: 50px;
    left: 172px;
    top: 4713px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    color: #000000;
    margin-left: 20px;
}

textarea {

    width: 680px;
    height: 211px;
    left: 172px;
    top: 5008px;
    background: #D9D9D9;
    border-radius: 50px;
    padding: 20px;
}

.card-body.bg {

    position: absolute;
    width: 391px;
    height: 411px;
    background: #0D65A1;
    border-radius: 50px;
    padding: 3rem 2rem;

}

.col-last {
    margin-bottom: 50px;
}

.row.g-3 {
    margin: 4px;
}

h3.card-title {

    width: 279px;
    height: 100px;
    left: 912px;
    top: 4863px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    color: #FFFFFF;

}

.bg-shape {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    width: 49px;
    height: 49px;
    left: 913px;
    top: 5014px;
    background: #FFFFFF;
    border-radius: 60px;
}

i#phone-2 {
    justify-content: center;
    font-size: 25px;
    width: 25px;
    height: 25px;
    color: #0D65A1;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.call-us {

    width: 49px;
    height: 16px;
    left: 969px;
    top: 5016px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

}

.phone-number {
    width: 135px;
    height: 25px;
    left: 969px;
    top: 5038px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 6px;
    color: #FFFFFF;
    white-space: nowrap;

}

.text-end {

    width: 79px;
    height: 16px;
    left: 969px;
    top: 5095px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.contact-email {

    width: 205px;
    height: 25px;
    left: 969px;
    top: 5117px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 6px;
    color: #FFFFFF;

}

.last-group {
    margin-top: 53px;
    margin-left: 7px;
}

.col {
    flex: 0 0 0%;
}

#name {

    background: url("../images/Vector-2.png") #D9D9D9 no-repeat scroll 280px 20px;
    display: flex;


}

#email {
    background: url("../images/Vector-3.png") #D9D9D9 no-repeat scroll 280px 25px;
}

#phone {
    background: url("../images/Vector-4.png") #D9D9D9 no-repeat scroll 280px 19px;
}

#website {
    background: url("../images/Vector-5.png") #D9D9D9 no-repeat scroll 280px 22px;
}

/* Btn_3 layout */
.btn-3-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 126px;
    height: 40px;
    left: 182px;
    top: 5249px;
    background: #0D65A1;
    border-radius: 20px;
}

.btn-3 {

    width: 86px;
    height: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    white-space: nowrap;

}

.last-logo {

    width: 203px;
    height: 75px;
    left: 115px;
    top: 5350px;
    background: url("../images/footer-logo.png") no-repeat;
}

p.last-text {

    width: 384px;
    height: 69px;
    left: 120px;
    top: 5427px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;

}

i.fa.fa-facebook.m-2 {
    width: 10px;
    height: 20px;
    color: #E2E2E2;
    flex: none;
    order: 0;
    flex-grow: 0;
}

i.fa.fa-linkedin.m-2 {
    width: 20px;
    height: 20px;
    color: #E2E2E2;
    flex: none;
    order: 1;
    flex-grow: 0;
}

i.fa.fa-instagram.m-2 {
    width: 20px;
    height: 20px;
    color: #E2E2E2;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.last-content {
    margin: 76px 108px;

}

h6.main-links {
    width: 83px;
    height: 28px;
    left: 741px;
    top: 5369px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;

}

.first-box {}

a.home {

    width: 69px;
    height: 136px;
    left: 741px;
    top: 5414px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 240%;
    color: #FFFFFF;

}

a.about-us {

    width: 69px;
    height: 136px;
    left: 741px;
    top: 5414px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 240%;
    color: #FFFFFF;

}

a.courses {

    width: 69px;
    height: 136px;
    left: 741px;
    top: 5414px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 240%;
    color: #FFFFFF;

}

a.contact-us {

    width: 69px;
    height: 136px;
    left: 741px;
    top: 5414px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 240%;
    color: #FFFFFF;

}

h6.latest-courses {

    width: 116px;
    height: 28px;
    left: 918px;
    top: 5369px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
}

a.course-1 {
    width: 141px;
    height: 102px;
    left: 918px;
    top: 5414px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 240%;
    color: #FFFFFF;

}

a.course-2 {
    width: 141px;
    height: 102px;
    left: 918px;
    top: 5414px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 240%;
    color: #FFFFFF;

}

a.course-3 {
    width: 141px;
    height: 102px;
    left: 918px;
    top: 5414px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 240%;
    color: #FFFFFF;

}


 .navbar.navbar ul li a:hover {
    display: block;
    color: #FFFFFF;
    background-color: #FF6022;
    border-radius: 5px;
}



.navbar .navbar-nav .nav-link {
    color: #000000;
    background-color: #FFFFFF;
}  